body {
	background-color:black;
}

button {
	width:200px;
	background-color:#F0F0F0;
	border:0;
	border-radius:2px;
	font-size:2em;
	font-family:Sans-serif;
}

.container {
	width:900px;
	margin:50px auto;
}

.sketch {
	background-color:white;
	display:inline-block;
	float:left;
}